sutdy/src/flyweight/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/NewXMLSchema"
	xmlns:tns="http://www.example.org/NewXMLSchema"
	elementFormDefault="qualified">

	<element name="TITLE" type="string"></element>

	<element name="SUBTITLE" type="string"></element>

	<element name="CONTENTS" type="string"></element>

	<element name="ITEM" type="string"></element>

	<simpleType name="NewSimpleType">
		<restriction base="string"></restriction>
	</simpleType>
</schema>